<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FolderMonitor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FolderMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FolderMonitor.Settings>
            <setting name="DefaultView" serializeAs="String">
                <value>listview</value>
            </setting>
            <setting name="TreeStatus" serializeAs="String">
                <value>collapsed</value>
            </setting>
        </FolderMonitor.Settings>
        <FolderMonitor.Properties.Settings>
            <setting name="DefaultView" serializeAs="String">
                <value>listview</value>
            </setting>
            <setting name="TreeStatus" serializeAs="String">
                <value>collapsed</value>
            </setting>
        </FolderMonitor.Properties.Settings>
    </userSettings>
</configuration>